@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap"); /* font-family: 'Fira Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap"); /* font-family: 'Source Code Pro', monospace; */


/* setting footer */
.footer {
  background-color: rgb(0, 0, 0);
  bottom: 0;
}
.footer ul li a {
  color: rgb(255, 255, 255);
}
.footer ul {
  padding-bottom: 1rem;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body::before{
  content: "";
  background: url(./bg.jpg);
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#work{
  font-size: 5rem;
  margin: 4rem;
  font-family: 'Fira Sans', sans-serif;
  color: white;
}

.pContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-bottom: 8vh;
  color: white;
}

.project{
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 2rem;
  padding: 2rem;
}
.text{
  width: 70%;
}
.img{
  width: 30%;
  height: 100%;
}

.pname{
  font-size: 3rem;
  font-family: 'Fira Sans', sans-serif;
  cursor: pointer;
}

.para{
  font-size: 2rem;
  margin: 1rem;
  font-family: 'Source Code Pro', monospace;
}

.img img{
  width: 85%;
}

.space{
  position: fixed;
  bottom: 24px;
  width: 100vw;
  height: 20px;
  background-color: rgb(1, 1, 1);
  /* opacity: 0.9; */
}

@media only screen and (max-width: 1050px) {
  .text{
    width: 100%;
  }
  .img{
    width: 0;
    height: 0;
  }
}